button {
    background-color: #e7e7e7;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 16px 16px;
    border-radius: 30%;
    width: 100px;
    height: 50px;
}

nav {
    display: flex;
    align-items: left;
    justify-content: left;
    grid-area: nav;
    font-family: ltc-italian-old-style-pro, verdana, serif;
    font-weight: 300;
    font-style: normal;
    margin: 1px 1px 1px 1px;
    padding: 0.5em 0.5em;

}


@-webkit-keyframes mymove1 {
    from {
        left: 0px;
    }

    to {
        left: 500px;
    }
}

.animation1 {
    width: 200px;
    height: 300px;
    position: relative;
    animation: mymove1 2s infinite;
    animation-play-state: paused;
    background-image: url(../background/backgroundplaceholder.png);
}
